<!DOCTYPE html>
<html>
<head>
  <title><%= @title %></title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <style type="text/css">
    nav {
      margin: 10px;
    }
    ul {
      list-style: none;
    }
    ul li {
      display: inline-block;
      font-size: 14px;
    }
    .creatives {
      margin-top: 40px;
      text-align: center;
    }
    .creative {
      display: inline-block;
    }
  </style>
</head>
<body>
  <div class="container text-center">
    <header>
      <h1><%= @title %></h1>

      <nav>
        <ul class="text-center">
          <% @nav.each do |display, link| %>
            <li>
              <a class="btn-default btn btn-sm" href="<%= link %>"><%= display %></a>
            </li>
          <% end %>
        </ul>
      </nav>
    </header>

    <div class="creatives">
      <% @images.each do |image| %>
        <img src="<%= image %>" class="creative">
      <% end %>
    </div>
  </div>
</body>
</html>
